#minside {
    padding-top: 3%;
    padding-left: 14%;
    padding-right: 14%;
  }
  
  .centered {
    display: flex;
    justify-content: center;
  }
  
  #charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  