.boxes {
  margin-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}

#numbersBoxes{
  color: #002d53;
  text-align: center;
  font-size: 50px;
  font-weight: lighter;
}

#cardTitle {
  color: #002d53;
  text-align: center;
  font-size: x-large;
}

